.chat-window
  .panel.panel-default
    .panel-body.messages
    .panel-footer
      input.input-sm.form-control.send-message.js-send-message(type='text', placeholder='Type a message and press enter to send.')

