link(href="vendor/bootstrap-3.1.1-dist/css/bootstrap.min.css", rel="stylesheet")
link(href="styles/example.css", rel="stylesheet")
  
.navbar.navbar-default.navbar-static-top.js-navbar(role="navigation")
.content.js-chat