.container
  .navbar-header
    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar

    a.navbar-brand chat
  
  .navbar-collapse.collapse
    ul.nav.navbar-nav
      li
        input.input-sm.form-control.nickname.js-nickname(placeholder='nickname')
      
      //- li.active
      //-   a chat
      //- li
      //-   a options
    
    ul.nav.navbar-nav.navbar-right
      li: a
        .ping-circle.js-ping
      li: a(href="http://jsfiddle.net/xQs4F/2/show/") errors

//- .container
//-   .navbar-header
//-     button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
//-       span.sr-only Toggle navigation
//-       span.icon-bar
//-       span.icon-bar
//-       span.icon-bar

//-     a.navbar-brand Chat
  
//-   .navbar-collapse.collapse
//-     ul.nav.navbar-nav
//-       li.active
//-         a Home
//-       li
//-         a About
//-       li
//-         a Contact
//-       li.dropdown
//-         a.dropdown-toggle(data-toggle="dropdown") Dropdown 
//-           b.caret
//-         ul.dropdown-menu
//-           li: a Action
//-           li: a Another Action
//-           li: a Something else
//-           li.divider
//-           li.dropdown-header Nav header
//-           li: a Separated link
//-           li: a One more separated link
//-     ul.nav.navbar-nav.navbar-right
//-       li: a Default
//-       li.active
//-         a Static top
//-       li: a Fixed top
    
