html
  background-color: rgba(255,255,255,1.0)
body
  //padding-top: 70px // Move content down below the fixed header

.navbar
  margin-bottom: 0px

  .nickname
    margin: 10px

  .ping-circle
    color: black
    border-radius: 4px
    padding: 0px 4px

.content
  position: absolute
  top: 50px
  left: 0px
  right: 0px
  bottom: 0px


.chat-window
  position: absolute
  margin: 0px auto 0px auto
  padding: 10px
  top: 0
  left: 0
  right: 0
  bottom: 0
  max-width: 720px


  .messages
    overflow-y: scroll

  .panel
    position: relative
    height: 100%
    margin-bottom: 0px
    
    .panel-body
      position: absolute
      top: 0px
      bottom:  50px
      right:  0px
      left:  0px
      
    .panel-footer
      position: absolute
      bottom:  0px
      right:  0px
      left:  0px
